@use 'variables' as *;
@use 'mixins' as *;


.footer {
    background-color: $dark;
    color: $gray-medium;
    padding: 1.5rem 0;
    margin-top: 3rem; // Espace avant le footer
    font-size: 0.9rem;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
  
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
      }
    }
  
    &__text {
      margin: 0;
    }
  
    &__links {
      display: flex;
      align-items: center;
    }
  
    &__link {
      color: $gray-medium;
      text-decoration: none;
      transition: color 0.3s ease;
  
      &:hover {
        color: $secondary;
        text-decoration: underline;
      }
    }
  
    &__separator {
      margin: 0 0.75rem;
      color: $gray-medium;
    }
  }