@use 'variables' as *;
@use "sass:color";
@use "sass:map";
// Mixin pour les media queries (mobile-first)
@mixin media-breakpoint-up($name) {
    $min-width: map.get((
      sm: $breakpoint-sm,
      md: $breakpoint-md,
      lg: $breakpoint-lg,
      xl: $breakpoint-xl,
      xxl: $breakpoint-xxl
    ), $name);
  
    @if $min-width {
      @media (min-width: $min-width) {
        @content;
      }
    } @else {
      @warn "Invalid breakpoint name: #{$name}.";
    }
  }

  @mixin media-breakpoint-down($name) {
    $max-width: map.get((
      xs: $breakpoint-sm - 0.02px,
      sm: $breakpoint-md - 0.02px,
      md: $breakpoint-lg - 0.02px,
      lg: $breakpoint-xl - 0.02px,
      xl: $breakpoint-xxl - 0.02px
    ), $name);
  
    @if $max-width {
      @media (max-width: $max-width) {
        @content;
      }
    } @else {
      @warn "Invalid breakpoint name: #{$name}.";
    }
  }
  
  // Mixin pour centrer des éléments avec Flexbox
  @mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
  }
  
  // Mixin pour les boutons
  @mixin button-variant($background, $color: $secondary) {
    background-color: $background;
    color: $color;
    border: $border-width solid $background;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  
    &:hover {
      background-color:  color.adjust($background, $lightness: 10%);
      border-color:  color.adjust($background, $lightness: 10%);
    }
  
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba($background, 0.5);
    }
  
    &:active {
      background-color:  color.adjust($background, $lightness: 15%);
      border-color:  color.adjust($background, $lightness: 15%);
    }
  }
  